{% extends 'base.html' %}
{% block body %}
{% include 'header.html' %}
<main>
    <section>
        <div>
            <h1>Temperature</h1>
            <ul class="box_block">
                <li>
                    <h3>current {{ args["temperature"] }}°C</h3>
                </li>
                <li>
                    <h3>average {{ args["temperature"] }}°C</h3>
                </li>
            </ul>
        </div>

        <div>
            <ul class="box_block">
                <h1>Humidity</h1>
                <li>
                    <h3>current {{ args["humidity"] }}%</h3>
                </li>
            </ul>
        </div>

        <div>
            <h1>Counter</h1>
            <ul class="box_block">
                <li>
                    <h3>electricity {{ args["electricity"] }}Кв</h3>
                </li>
                <li>
                    <h3>gas {{ args["gas"] }}м3</h3>
                </li>
                <li>
                    <h3>water {{ args["water"] }}л.</h3>
                </li>
            </ul>
        </div>

        <div>
            <h1>Boiler</h1>
            <ul class="box_block">
                <li>
                    <h3>Isturn_on {{ args["IsRan"] }}</h3>
                </li>
                <li>
                    <h3>temperature {{ args["boiler_tempure"] }}°C</h3>
                </li>
                <li>
                    <h3>pressure {{ args["boiler_presure"] }}Па</h3>
                </li>
            </ul>
        </div>

    </section>
</main>
{% include 'footer.html' %}
{% endblock %}